{% extends "layout.html" %}
{%block body%}
<div class="container-fluid">
        <h1>Otakumeter</h1>
        <h3>How Otaku Are You?</h3>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <a class="start-menu" id="start" href="/quiz">Start</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <a class="start-menu" id="howto" href="/howto">How to play</a>
            </div>
        </div>
</div>
{%endblock%}