{% extends "layout.html" %}
{%block body%}
<div class="container-fluid">
    <div class="test">
        <h1>Otakumeter</h1>
        <h3>How Otaku Are You?</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <a class="start-menu" href="/quiz">Start</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <a class="start-menu" href="/howto">How to play</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}